.container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  background: #f0f0f0;
  border: 2px dashed #e0e0e0;
  border-radius: 5px;
  padding-bottom: 1rem;
  margin: 1rem 0 1rem 0;
}

.container.dragged {
  opacity: 0.3;
}
