.container {
  height: 6rem;
  width: 6rem;
  background: #ffffffa0;
  border-radius: 50%;
  align-self: center;
  justify-self: center;

  align-items: center;
  justify-content: center;
  display: flex;
  color: #fff;
  font-size: 2.4rem;
}

.container > div {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  opacity: 0.1;
}
