.card-header-btn {
  border: 0;
  box-shadow: 2px 2px 10px rgba(169, 57, 122, 0.3);
  color: #fff;
  background: #a9397a;
  background: linear-gradient(180deg, #a9397a 0%, #803382 100%);
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 30%;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.card-header-btn a {
  text-decoration: none;
  color: inherit;
}
.card-row,
.card-row-title {
  padding: 0 1.3rem 0 2.5rem;
  display: flex;
  flex-direction: row;
  height: 5rem;
  align-items: center;
  border: 0;
  border-bottom: #eeeeee solid 2px;
}

.card-row div,
.card-row-title div {
  display: flex;
  padding-right: 1.4rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.card-row div + div,
.card-row-title div + div {
  padding-left: 2rem;
  flex: 3;
}

.card-row:hover,
.active {
  background: #f7eef7;
  color: #b13d7c;
  border-radius: 10px;
  border: 0;
}

.card-row-title {
  border: 0;
  margin-top: 2rem;
  cursor: pointer;
}

.card-row-title div + div {
  border-left: 2px solid #eeeeee;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-body p {
  font-weight: bold;
}

.card-row .card-row-buttons {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.card-row-buttons span {
  margin-left: 1.4rem;
  font-size: 1.6rem;
}

.card-row-title div span {
  font-size: 1.6rem;
}
