.card {
  background: #fff;
  border-radius: 10px;
  min-height: 100%;
  height: max-content;
}

.card .card-header {
  display: flex;
  flex: 1;
  width: 100%;
  border: 0;
  border-bottom: #eeeeee solid 2px;
  align-items: center;
  justify-content: space-between;
}

.card .card-title {
  padding: 3rem;
  color: #552c8a;
}

.card .card-body-container {
  padding: 0.8rem;
}

@media (max-width: 1024px) {
  .card {
    display: block;
    padding-bottom: 1rem;
    min-height: auto;
  }
}

@media (max-width: 425px) {
  .card .card-title {
    padding: 2rem;
  }
}
