.container {
  margin: 4rem;
  height: 100%;
}

.team-info {
  flex: 1;
  margin: 3rem auto;
  align-items: center;
  justify-content: center;
}

.team-info .team-info-title {
  text-align: center;
  color: #8d8d8d;
}

.team-info .input-section {
  margin-top: 6.4rem;
  display: flex;
  flex: 3;
  flex-direction: row;
  justify-content: space-around;
}

.input-section .input-group {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-block {
  flex: 1;
}
.input-block label {
  font-weight: bold;
  display: block;
  color: #333333;
  margin-bottom: 1.2rem;
}

.input-block input,
.input-block textarea {
  padding: 1.6rem;
  border: solid 2px #dadada;
  width: calc(100vw / 3);
  border-radius: 5px;
  height: 2.8rem;
  margin-bottom: 2.8rem;
}

.input-block textarea {
  height: 100%;
  resize: none;
}

.input-radio p {
  color: #333333;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.input-radio label {
  margin-left: 1rem;
  margin-right: 4.5rem;
  color: #cccccc;
}

.input-radio {
  flex: 1;
  width: calc(100vw / 3);
  margin-bottom: 2.8rem;
}

.input-radio label > input[type="radio"] {
  display: none;
}
.input-radio label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: center;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
.input-radio label > input[type="radio"]:checked + * {
  color: #c50341;
}
.input-radio label > input[type="radio"]:checked + *::before {
  background: radial-gradient(
    #bc4883 0%,
    #954780 40%,
    transparent 50%,
    transparent
  );
  border-color: #dec7dd;
}

.search-results {
  flex: 1;
  width: calc(100vw / 3);
  border: 0;
  border-bottom: solid 2px #e0e0e0;
  align-items: flex-start;
}

.input-block.inline {
  display: flex;
  align-items: center;
  width: calc(100vw / 3);
}
.input-block.inline select {
  margin-left: 3rem;
  margin-bottom: 1.2rem;
}

.input-group button {
  cursor: pointer;
  margin-top: 2rem;
  width: calc(100vw / 3);
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #9b357d 0%, #782c7f 100%);
  font-size: 2.4rem;
  padding: 1rem 0 1rem 0;
}
