.container {
  margin: 4rem;
  height: 100%;
}

.container .card-header-btn {
  margin-right: 1.6rem;
  cursor: pointer;
}

.team-info {
  flex: 1;
  margin-top: 3rem;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border: none;
}

.team-info .team-info-title {
  text-align: center;
  color: #8d8d8d;
  width: 100%;
}

.team-info .input-section {
  margin-top: 6.4rem;
  display: flex;
  flex: 3;
  flex-direction: row;
  justify-content: space-around;
  padding: 1px;
}

.team-info .input-section.reversed {
  flex-direction: row-reverse;
}

.input-section .input-group {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group button {
  cursor: pointer;
  margin-top: 2rem;
  width: calc(100vw / 3);
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #9b357d 0%, #782c7f 100%);
  font-size: 2.4rem;
  padding: 1rem 0 1rem 0;
}

@media (max-width: 810px) {
  .team-info + .team-info {
    margin-top: 6rem;
  }
  .team-info .input-section {
    margin-top: 3rem;
    flex-direction: column;
  }
  .input-group button {
    align-self: flex-start;
    margin-left: 10%;
    width: calc(80% * 0.6);
  }
  .team-info .input-section.reversed {
    flex-direction: column;
  }
  .team-info .input-section.reversed .input-group + .input-group {
    margin-top: 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 2rem;
  }
}

@media (max-width: 630px) {
  .input-group button {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .container {
    margin: 1rem;
  }
  .input-group button {
    margin-left: 0;
    width: 100%;
  }
}
