.container {
  width: calc(100vw / 3);
}

.container label {
  font-weight: bold;
  display: block;
  color: #333333;
  margin-bottom: 1.2rem;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border: 2px solid #dadada;
  border-radius: 10px;
  padding-top: 1rem;
}

.wrapper span {
  color: #fff;
  vertical-align: middle;
}

.wrapper span.tag {
  display: block;
  min-width: 9rem;
  margin: 0 0 1rem 1rem;
  background: #c50341;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}
.wrapper span > span {
  float: right;
  font-size: 1.9rem;
  background: transparent;
  cursor: pointer;
}

.wrapper input {
  display: flex;
  flex-grow: 1;
  margin-left: 1rem;
  margin-bottom: 1rem;
  height: 3rem;
  border: 0;
}

@media (max-width: 810px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}
