.card-body {
  padding: 0 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  gap: 2rem;
}

.card-body .card-row-title {
  height: 5rem;
  display: flex;
  align-items: center;
}

.card-body .rows-wrapper {
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 0.4rem;
}

.card-body .card-row {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 5rem;
  border: solid 2px #eeeeee;
  border-radius: 5px;
}

.card-row p + p {
  font-weight: bold;
}
