.container {
  width: calc(100vw / 3);
  height: 63rem;
}

.container .field {
  background-image: linear-gradient(to bottom right, #b13b7c 0%, #732b80 100%);
  width: calc(100vw / 3);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 2rem;
  border-radius: 3px;
}

@media (max-width: 810px) {
  .container {
    width: 80%;
  }
  .container .field {
    width: 60%;
  }
}

@media (max-width: 630px) {
  .container {
    width: 80%;
  }
  .container .field {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }
  .container .field {
    width: 100%;
  }
}
