header {
  color: #fff;
  background: #c00e4f;
  background: linear-gradient(90deg, #c00e4f 0%, #8a206f 100%);
  height: 5rem;
}

header .container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem 4rem;
}

header .container .logo-wrapper {
  display: flex;
  align-items: center;
}

.container .logo-wrapper a {
  text-decoration: none;
  color: inherit;
  display: inherit;
  align-items: inherit;
}

header .container .logo-wrapper img {
  height: 3.9rem;
  margin-right: 1rem;
}

header .container .user-wrapper {
  display: flex;
  align-items: center;
}
