.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  margin: 1rem 0 0 1rem;
}

.container.right {
  justify-content: flex-end;
  margin: 1rem 1rem 0 0;
}

.container p {
  color: #c50341;
  margin-left: 1rem;
}
