.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 4rem;
  height: calc(100vh - 16.8rem);
  gap: 4.6rem;
}

.card.colored {
  background: #ba3d7b;
  background: linear-gradient(180deg, #ba3d7b 0%, #632e87 100%);
  color: white;
}

.right-side-wrapper {
  display: grid;
  grid-template-rows: 0.58fr 0.42fr;
  gap: 1.9rem;
}
