.app-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 4rem;
  height: 100vh;
  gap: 4.6rem;
}

.card.colored {
  background: #ba3d7b;
  background: linear-gradient(180deg, #ba3d7b 0%, #632e87 100%);
  color: white;
}

.right-side-wrapper {
  display: grid;
  grid-template-rows: 0.58fr 0.42fr;
  gap: 1.9rem;
}
