header {
  color: #fff;
  background: #c00e4f;
  background: linear-gradient(90deg, #c00e4f 0%, #8a206f 100%);
  height: 5rem;
}

header .container {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem 4rem;
}

header .container .logo-wrapper {
  display: flex;
  align-items: center;
}

header .container .user-wrapper {
  display: flex;
  align-items: center;
}

footer {
  height: 3.8rem;
  background: #e9e3e9;
}

footer p {
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem 4rem;
  height: calc(100vh - 16.8rem);
  gap: 4.6rem;
}

.main-wrapper .card {
  background: #fff;
  border-radius: 10px;
  min-height: 100%;
}

.main-wrapper .card .card-header {
  display: flex;
  flex: 1;
  width: 100%;
  border: 0;
  border-bottom: #eeeeee solid 2px;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper .card .card-title {
  padding: 1.5rem;
  color: #552c8a;
}

.main-wrapper .card .card-header span {
  color: #fff;
  background: #a9397a;
  background: linear-gradient(180deg, #a9397a 0%, #803382 100%);
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 30%;
  text-align: center;
  vertical-align: middle;
  font-size: 3rem;
  cursor: pointer;
  margin-right: 1.5rem;
}
.main-wrapper .card .card-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.card .card-body .card-row-title {
  display: flex;
}

.card .card-body .card-row {
  display: flex;
  height: 5rem;
  align-items: center;
  border: 0;
  border-bottom: #eeeeee solid 2px;
  border-top: #eeeeee solid 2px;
}

.card.colored {
  background: #ba3d7b;
  background: linear-gradient(180deg, #ba3d7b 0%, #632e87 100%);
  color: white;
}

.right-side-wrapper {
  display: grid;
  grid-template-rows: 1f 1f;
  gap: 1.9rem;
}
