.app-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

.main-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4rem;
  height: 100vh;
  gap: 4.6rem;
}

.right-side-wrapper {
  display: grid;
  grid-template-rows: auto;
  gap: 1.9rem;
}

@media (max-width: 1024px) {
  .main-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .right-side-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .app-container .main-wrapper {
    margin: 2rem;
    gap: 2rem;
  }
}

@media (max-width: 425px) {
  .app-container .main-wrapper {
    margin: 1rem;
    gap: 1rem;
  }
}
