.container p {
  color: #333333;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.container label {
  margin-left: 1rem;
  margin-right: 4.5rem;
  color: #cccccc;
}

.container {
  flex: 1;
  width: calc(100vw / 3);
  margin-bottom: 2.8rem;
}

.container label > input[type="radio"] {
  opacity: 0;
}
.container label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: center;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
.container label > input[type="radio"]:checked + * {
  color: #c50341;
}
.container label > input[type="radio"]:checked + *::before {
  background: radial-gradient(
    #bc4883 0%,
    #954780 40%,
    transparent 50%,
    transparent
  );
  border-color: #dec7dd;
}

.container label span {
  text-transform: capitalize;
}

@media (max-width: 810px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}
